.wrapper{
    background-color: rgba(2, 2, 2, 1);
    color: rgba(253, 221, 215, 1);
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.upper, .lower{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
    display: flex;
}

.upper img{
    margin-left: auto;
}

.upper p{
    font-size: 20px;
    font-weight: 500;
}

.lower p{
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
}

.lower a{
    margin-top: auto;
    margin-bottom: auto;
}